.ContactForm {
  max-width: 400px;
  margin: 0 auto;
}

.ContactFormLabel {
  display: block;
  margin-bottom: 15px;
}

.ContactFormSpan {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.ContactFormField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #513939;
  border-radius: 5px;
  background-color: rgb(166, 163, 168);
  box-sizing: border-box;
}

.ContactFormBtn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #a26a6a;
  color: #513939;
  border: 3px solid #513939;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.ContactFormBtn:hover {
  background-color: #c28e8e;
}

.ErrorMessage {
  color: #9d6565;
  font-size: 14px;
  margin-top: 5px;
}
