.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input {
  width: 250px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #afaaaa;
  border-radius: 8px;
}

.input:hover,
.input:focus {
  border-color: #6a6666;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
}

.button {
  width: 150px;
  padding: 10px;
  background-color: #ccc;
  color: black;
  border: 1px solid #afaaaa;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ece2e2;
  border-color: #6a6666;
  outline: none;
}
